.poster {
  overflow: hidden;
  margin-bottom: 20px;
  .rounded(3px);
  .drop-shadow;

  .poster-image {
    width: 100%;
  }

  .poster-content {
    padding: 0 10px;

    .poster-title {
      margin: 10px 0;
      font-size: 15px;
      color: @poster-light-title-color;
    }

    .poster-tags {
      font-size: 10px;
      .tag {
        margin: 2px 0;
        font-size: inherit;
        background-color: transparent;
        color: @poster-light-tag-color;
        border: 2px solid @poster-light-tag-border-color;
        border-radius: 2px;
        & + .tag {
          margin-left: 4px;
        }
      }
    }

    .poster-description {
      color: @poster-light-description-color;
      margin: 10px 0;
    }

    .sep {
      height: 0;
      margin: 3px -15px;
      border-top-width: 1px;
      border-top-style: solid;
    }
  }
 }