.poster {
  .poster-image {
    width: 100%;
  }
  .poster-content {
    padding: 5px;
    .poster-title {
      font-size: 30px;
    }
  }
  overflow: hidden;
  margin-bottom: 20px;
  .rounded(3px);
  .drop-shadow(0px, 0px);
  border: 1px solid #D5D6D7;
}