.poster {
  overflow: hidden;
  margin-bottom: 10px;
  .rounded(5px);
  .drop-shadow;

  .poster-image-section {
    overflow: hidden;
    .poster-image {
      width: 100%;
      .transition(all 0.2s linear);
    }
  }

  > .poster-content-section {
    padding: 10px;

    & + .poster-content-section {
      border-top: 1px solid @poster-light-border-color;
    }

    .poster-title {
      margin: 0;
      font-size: 15px;
      color: @poster-light-title-color;
    }

    .poster-tags {
      font-size: 10px;
      // margin: -10px 0 -6px 0;
      padding-bottom: 4px;
      .tag {
        display: inline-block;
        margin: 4px 4px 0px 0;
        font-size: inherit;
        background-color: transparent;
        color: @poster-light-tag-color;
        border: 2px solid @poster-light-tag-border-color;
        border-radius: 2px;

        &:hover {
          color: @poster-light-tag-highlight-color;
          border-color: @poster-light-tag-border-highlight-color;
        }
      }
    }

    .poster-description {
      color: @poster-light-description-color;
    }
  }

  &:hover {
    .poster-image {
      .scale(1.1);
    }
  }
}