body.light {
  .poster {
    background-color: @poster-ligit-background-color;
    border: 1px solid @poster-light-border-color;
    .poster-content {
      .sep {
        border-color: @poster-light-border-color;
      }
    }
  }
}